 <div>
  <label for="name">Name:</label>
  <br>
  <input type="text" name="restaurant[name]" value="<%= @restaurant.name %>">
</div>
<div>
  <label for="cuisine">Cuisine:</label>
  <br>
  <input type="text" name="restaurant[cuisine]" value="<%= @restaurant.cuisine %>">
</div>

<div>
  <label for="address">Address:</label>
  <br>
  <input type="text" name="restaurant[address]" value="<%= @restaurant.address %>">
</div>

<div>
  <label for="city">City:</label>
  <br>
  <input type="text" name="restaurant[city]" value="<%= @restaurant.city %>">
</div>
<div>
  <label for="state">State:</label>
  <br>
  <input type="text" name="restaurant[state]" value="<%= @restaurant.state %>">
</div>
<div>
  <label for="zip">Zip:</label>
  <br>
  <input type="text" name="restaurant[zip]" value="<%= @restaurant.zip %>">
</div>
